# Scikit-Learn (sklearn)

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Chosse the right estimator/algorithm for our problems
3. Fit the model/algorithm use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

### 0. An end-to-end Scikit-Learn workflow

In [1]:
import pandas as pd

heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

ModuleNotFoundError: No module named 'pandas'

In [6]:
# Create X (features matrix X)
X = heart_disease.drop("target", axis=1) # use all columns except target

# Create Y (labels)
y = heart_disease["target"]

### 2. Choose the right model and hyperparameters

In [7]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
#clf.get_params()

### 3. Fit the model to the training data

In [11]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
clf.fit(X_train, y_train)

y_preds = clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1])

In [ ]:
# make a prediction

y_label = clf.predict()

### 4. Evaluate the model

In [27]:
clf.score(X_train, y_train)

1.0

In [28]:
clf.score(X_test, y_test)

0.8360655737704918

In [29]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.89      0.77      0.83        31
           1       0.79      0.90      0.84        30

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [30]:
confusion_matrix(y_test, y_preds)

array([[24,  7],
       [ 3, 27]])

In [31]:
accuracy_score(y_test, y_preds)

0.8360655737704918

### 5. Improve a model

In [35]:
import numpy as np

np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100: .2f}")
    print("")

Trying model with 10 estimators...
Model accuracy on test set:  86.89

Trying model with 20 estimators...
Model accuracy on test set:  88.52

Trying model with 30 estimators...
Model accuracy on test set:  78.69

Trying model with 40 estimators...
Model accuracy on test set:  86.89

Trying model with 50 estimators...
Model accuracy on test set:  86.89

Trying model with 60 estimators...
Model accuracy on test set:  83.61

Trying model with 70 estimators...
Model accuracy on test set:  86.89

Trying model with 80 estimators...
Model accuracy on test set:  83.61

Trying model with 90 estimators...
Model accuracy on test set:  83.61

### 6. Save a model and load it

In [37]:
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", 'wb'))

In [38]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8360655737704918

# Try

In [24]:
car_sales = pd.read_csv('car-sales-extended.csv')
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [28]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [26]:
# Split into X/y
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# Split intro training and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [32]:
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)],remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [39]:
pd.DataFrame(transformed_X)

# Split into X/y
X = transformed_X

In [34]:
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [40]:
import numpy as np

# Let's refit the model
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Build Machine Learning Model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [41]:
model.score(X_test, y_test)

0.3235867221569877

## 1.1 Make sure it's all numerical

In [1]:
car_sales = pd.read_csv('car-sales-extended.csv')
car_sales.head

NameError: name 'pd' is not defined